@import '../../marketplace.css';

.heading {
  margin: 5px 0 18px 0;

  @media (--viewportMedium) {
    margin: 8px 0 24px 0;
  }
}

.content {
  @media (--viewportLarge) {
    max-width: 563px;
  }
}
.pageTitle {
  text-align: center;
  font-size: 55px;
  margin-top: 55px;
}

.root {
  width: 70%;
  margin: 5% auto 5% auto;
}